@import "../../components/GlobalStyle/GlobalStyle.scss";
@import "../../scss/mixin";

.wrapper {
    .table {
        min-height: calc(100vh - 150px);
        background-color: #ffffff;
        border-radius: 6px;
        margin-top: 20px;
    }

    .table-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 0px;
    }

    .table-header_title {
    }

    .table-header_btn {
        @include primary-btn_outline;
    }

    //Select
    .select {
        @include input-custom_1;
        width: 125px;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .content {
        .content-loading {
            @include content-loading;
            position: relative;
            left: 50%;
            transform: translateX(-$loading-medium);
            margin-top: 130px;
        }
    }

    img {
        width: 70%;
    }

    h3,
    h4 {
        color: $text-color;
    }

    .used {
        color: #fd1a1a;
    }

    .available {
        color: #36f410;
    }
}
