@import "../../../components/GlobalStyle/GlobalStyle.scss";
@import "../../../scss/mixin";

$main-border: 1px solid #cfcfcf;

.wrapper-content {
    min-height: 100px;
    width: 500px;

    .form {
    }

    .form-item {
        margin-bottom: 10px;
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
    }

    .form-flex {
        margin-left: -5px;
        margin-right: -5px;
    }

    .label {
        text-align: start;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    .input {
        @include input-custom_1;
    }

    .aria {
        min-height: 100px;
        padding: 5px 10px;
    }

    //Category group
    .category {
        margin-top: 10px;
    }

    .category-group {
        border-radius: $main-border-radius;
        border: $main-border;
        padding: 15px 0;
    }

    .category-item {
        height: 30px;
    }

    //Upload
    .image-container {
    }

    .upload {
    }

    .upload-container {
        border: $main-border;
        border-radius: 6px;
        height: 90px;
        &:hover {
            cursor: pointer;
        }
    }

    .upload-icon {
        font-size: 2.4rem;
        color: $text-color;
    }

    .upload-title {
        font-size: 1.4rem;
        color: $text-color;
    }

    .image {
        object-fit: cover;
        width: 100px;
        height: 100%;
    }

    .empty-image {
        position: relative;
        top: 50%;
        font-size: 5rem;
        color: $text-color;
        transform: translateY(-50%);
    }

    .btn-add {
        margin-top: 15px;
        @include primary-btn_outline;
        width: 80px;
        text-transform: capitalize;
    }
}
