@import "../../components/GlobalStyle/GlobalStyle.scss";
@import "../../scss/mixin";

.wrapper {
    .content {
        min-height: calc(100vh - 150px);
        background-color: #ffffff;
        border-radius: 6px;
        margin-top: 20px;
        .content-header {
            padding: 10px 15px 0px;
        }

        .content-header_title {
        }

        .content-header_btn {
            @include primary-btn_outline;
        }
    }

    .content-loading {
        @include content-loading;
    }

    //Table
    .table-container {
        margin-top: 30px;
    }

    .image {
        width: 60px;
        object-fit: cover;
    }
}
