@import "../../../components/GlobalStyle/GlobalStyle.scss";

.action-button_wrapper {
    height: 35px;
    width: 35px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    text-align: center;
    vertical-align: middle;

    .icon-update {
        color: #3ba8fc;
    }

    .icon-delete {
        color: #fc3b3b;
    }

    .icon-detail {
        color: #2af270;
    }

    .icon-update,
    .icon-delete,
    .icon-detail {
        font-size: 2rem;
    }
}

.action-button_wrapper + .action-button_wrapper {
    margin-left: 15px;
}

.update {
    background-color: #c8e7ff;
}

.delete {
    background-color: #ffcbcb;
}

.detail {
    background-color: #d5ffcb;
}
