@import "../../components/GlobalStyle/GlobalStyle.scss";
@import "../../scss/mixin";
//Arrow
.sort {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.arrow-up {
    @include arrow-up;
}

.arrow-down {
    @include arrow-down;
}
