@import "../../components/GlobalStyle/GlobalStyle.scss";
@import "../../scss/mixin";

.wrapper {
    .product {
        min-height: calc(100vh - 150px);
        background-color: #ffffff;
        border-radius: 6px;
        margin-top: 20px;
    }

    .product-header {
        padding: 10px 15px 0px;
    }

    .product-header_title {
    }

    .product-header_btn {
        @include primary-btn_outline;
    }

    //Table
    .table-container {
        margin-top: 30px;
    }

    .image {
        width: 60px;
        object-fit: cover;
    }
}
