@import "../../../components/GlobalStyle/GlobalStyle.scss";
@import "../../../scss/mixin";

.overlay {
    @include overlay;
    transition: all 0.2s linear;
    position: fixed;
    z-index: 1000;
}

.modal-wrapper {
    position: absolute;
    min-height: 100px;
    min-width: 400px;
    background-color: #ffffff;
    border-radius: 6px;
    transform: translateY(-200px);
    transition: transform 0.4s ease-out;
    opacity: 0;
    visibility: hidden;

    .modal-header {
        height: 55px;
        padding: 0px 10px 0px 15px;
    }

    .header-title {
        text-transform: capitalize;
    }

    .header_btn {
        height: 28px;
        width: 28px;
        background-color: transparent;
        border: none;
    }

    .header-btn_icon {
        font-size: 2.4rem;
    }

    .modal-content {
        padding: 0 15px;
    }

    .footer {
        display: flex;
        padding: 5px 15px;
        .btn-action {
            @include primary-btn_outline;
            min-width: 80px;
            padding: 0 40px;
            text-transform: capitalize;
            margin: 10px 0px;

            &:hover {
                .btn-title .modal-loading {
                    border: 3px solid #fff;
                    border-top: 3px solid $primary-color;
                }
            }

            .btn-title {
                display: inline-block;
                position: relative;
                text-align: center;

                .modal-loading {
                    border: 3px solid $primary-color;
                    border-top: 3px solid transparent;
                    transition: all 0.2s ease;
                }
            }
        }
    }
}

.modal-open {
    transform: translateY(-50px);
    opacity: 1;
    visibility: visible;
}
