@mixin overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

@mixin primary-btn {
    min-width: 80px;
    font-size: 1.6rem;
    color: $primary-color;
    border: 1px solid $primary-color;
    height: 32px;
    &:hover {
        background-color: $primary-color;
        color: #ffffff;
    }
}

@mixin input-custom_1 {
    width: 100%;
    border-radius: $main-border-radius;
    border: $main-border;
    font-size: 1.6rem;
    height: 32px;
    outline: none;
    padding: 0 10px;
    color: $text-color;
    font-weight: 400;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    &:focus {
        border: 1px solid $primary-color;
    }
}
